/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: #585a5b;
    font-size: 14px;
}
header {
    background: url("../img/header.png") top center no-repeat;
    height: 100px;
}

header div,
body > .panel {
    max-width: 980px;
    margin: 0 auto;

}

header a.logo {
    width: 320px;
    height: 55px;
    display: block;
    padding: 25px 0 0 60px;
    position: relative;
}

header a.logo span {
    width: 185px;
    height: 43px;
    display: block;
    position: absolute;
    top: 25px;
    left: 60px;
    background: url("../img/provident-logo.png")  no-repeat;
}
header a.logo strong {
    width: 185px;
    height: 43px;
    display: block;
    position: absolute;
    top: 25px;
    left: 245px;
    background: url("../img/videos.png")  no-repeat;
}

header a.provident {
    float: right;
    color: white;
    font-size: 12px;
    display: block;
    text-decoration: none;
    line-height: 15px;
    padding: 25px 60px 0 0
}

header a.provident strong {
    font-size: 19px;
    font-weight: bold;
}

#video {
    width: 730px;
    height: 553px;
    background: url("../img/background-player.png") no-repeat;
    margin: 20px auto;
    position: relative;
}

#video .like,
#video .likenot {
    position: absolute;
    top: 425px;
    right: 0;
    width: 105px;
    height: 40px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 40px;
    line-height: 19px;
    text-align: right;
    background: url("../img/like.png") 40px 3px no-repeat;
}

#video .likenot {
    left: 0;
    text-align: left;
    background: url("../img/like-not.png") 135px 5px  no-repeat;
}

#video .like strong,
#video .likenot strong {
    font-weight: normal;
    font-size: 28px;
}

#video .left,
#video .right {
    position: absolute;
    width: 65px;
    height: 65px;
    display: block;
    top: 200px;
    left: -80px;
    background: url("../img/left.png") no-repeat;
}

#video .right {
    right: -80px;
    left: auto;
    background: url("../img/right.png") no-repeat;
}



#video h1 {
    text-align: center;
    color: #0060a9;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    position: relative;
    top: 430px;
    width: 330px;
    margin: 0 auto;
}

#video .alreadyvoted {
    text-align: center;
    position: relative;
    font-size: 10px;
    top: 430px;
    width: 330px;
    top: 450px;
    margin: 0 auto;
}

#video h1 span {
    color: #585a5b;
    font-size: 12px;
}

#video .screen {
    overflow: hidden;
    position: absolute;
    left: 44px;
    top: 44px;
    width: 640px;
    height: 360px;
}
#video .screen .layers {
    width: 9999px;
    position: relative;
}
#video .screen .layer {
    float: left;
    padding: 0;
    width: 640px;
    height: 360px;
    overflow: hidden;
    margin: 0;
    background: black;
}

#video .screen .layer:nth-of-type(odd) {
    background: white;
}

body > .panel {
    text-align: center;
    padding: 20px 0 0 0;
    background: url("../img/background-shade.png") top no-repeat;
}
body > .panel h3 {
    color: #585a5b;
    font-weight: normal;
    font-size: 20px;
}
body > .panel .links {
    margin: 0 auto;
    overflow:hidden;
    position:relative;
}


body > .panel .links ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}

body > .panel .links ul li {
    width: 163px;
    height: 93px;
    display: block;
    float: left;
    position:relative;
    right:50%;
    background: url("../img/background-logos.png") no-repeat;
}

body > .panel .links ul li a {
    display: block;
    /*text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;*/
    width: 129px;
    position: relative;
    margin: 26px 0 0 18px;
    height: 39px;
    text-decoration: none;
    color: #333333;
}
body > .panel  h2 {
     color: #0060a9;
    font-weight: normal;
    font-size: 36px;
    text-align: center;
    margin: 25px 0 15px;
}
body > .panel  h3 {
    color: #585a5b;
    font-size: 20px;
    font-weight: normal;
    font-weight: normal;
    text-align: center;
    margin: 25px 0 15px;
}

body > .panel .links ul li.more a {
    padding: 10px 0 0 0;
}
body > .panel .links ul li.youtube a span {
    background-image: url("../img/logo-youtube.png");
}

body > .panel .links ul li.vimeo a span {
    background-image: url("../img/logo-vimeo.png");
}

body > .panel .links ul li.dailymotion a span {
    background-image: url("../img/logo-dailymotion.png");
}

body > .panel .links ul li.stream a span {
    background-image: url("../img/logo-stream.png");
}
body > .panel .links ul li.youtube a span,
body > .panel .links ul li.vimeo a span,
body > .panel .links ul li.dailymotion a span,
body > .panel .links ul li.stream a span {
    width: 129px;
    height: 39px;
    left: 0;
    position: absolute;
}
body > .panel a.button {
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 12px 18px;
    margin: 40px auto;
    font-size: 18px;
    width: 320px;
}
body > .panel a.button.blue {
    width: 240px;
}
.button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#f34340), to(#d51211));
    background: -moz-linear-gradient(top,  #f34340,  #d51211);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f34340', endColorstr='#d51211');
}
.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#fe4744), to(#e91615));
    background: -moz-linear-gradient(top,  #fe4744,  #e91615);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe4744', endColorstr='#e91615');
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#0073ba), to(#004083));
    background: -moz-linear-gradient(top,  #0073ba,  #004083);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0073ba', endColorstr='#004083');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0089de), to(#0050a3));
    background: -moz-linear-gradient(top,  #0089de,  #0050a3);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089de', endColorstr='#0050a3');
}

footer {
    color: #9fcbec;
    padding: 16px 0 0 0;
    font-size: 12px;
    text-align: center;
    margin: 150px 0 0 0;
    line-height: 18px;
    background: #056aad url("../img/background-footer.png") repeat-x;
}

footer a:visited,
footer a {
    display: block;
    margin: 0 auto 0;
    padding: 0 0 25px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}


footer .links {
    height: 44px;
    line-height: 44px;
    background: #004d88;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0;
}

footer .links div {
    float:right;
    position:relative;
    left:-50%;
}
footer .links menu {
    display: block;
    padding: 0;
    margin:0;
    position:relative;
    left:50%;
    list-style-type: none;
}

footer .links menu li {
    float: left;
    display: block;
    padding: 0;
    margin:0;
}

footer .links a:visited,
footer .links a {
    color: #002e51;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    padding: 0 20px;
    position: relative;
    display: block;
    float: left;
    height: 44px;
}

footer .links span {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: block;
    position: absolute;
    left: 50%;
    border-top: 7px solid #006ab0;
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
