<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="cs"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="cs"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="cs"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="cs" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Provident Videa</title>
    <meta name="description" content="Reklamy a ďalšie videá Provident Financial s.r.o.">

    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/libs/modernizr-2.5.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="js/greensock/plugins/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="js/greensock/easing/EasePack.min.js"></script>
    <script type="text/javascript" src="js/greensock/TweenLite.min.js"></script>
    <script src="js/script.js"></script>
    <script>
        var video_list = {VIDEO_LIST};
    </script>
</head>
<body>
<header>
    <div>
        <a class="provident" href="http://www.provident.sk" title="Rýchla pôžička Provident">
            <strong>www.provident.sk</strong><br>
            Online pôžička na čokoľvek
        </a>
        <a class="logo" href="/" title="Provident videá">
            <span></span><strong></strong>Provident videá
        </a>

    </div>
</header>
<div id="video">
    <a href="#" class="like" title="Páči"><strong>Páči</strong><br><span></span></a>
    <a href="#" class="likenot" title="Nepáči"><strong>Nepáči</strong><br><span></span></a>
    <h1></h1>
    <div class="alreadyvoted" style="display: none;">Pre každé video je možné hlasovať len raz.</div>
    <a href="#" class="left" title="Predchádzajúci"></a>
    <a href="#" class="right" title="Ďalšie"></a>
    <div class="screen">
        <div class="layers" id="layers">
        </div>
    </div>
</div>
<div class="panel">

    <h3>Môžete vidieť na:</h3>
    <div class="links">
        <ul class="clearfix">
            <li class="youtube"><a href="http://www.youtube.com/user/smeprovident?feature=results_main" title="Provident videa"><span></span>YouTube</a></li>
            <li class="vimeo"><a href="http://vimeo.com/smeprovident" title="Provident videa"><span></span>vimeo</a></li>
            <li class="dailymotion"><a href="http://www.dailymotion.com/smeprovident" title="Provident videa"><span></span>Dailymotion</a></li>
            <li class="vii"><a href="http://www.vii.sk/uzivatel/SmeProvident/ " title="Provident videa"><span></span>Vii.sk</a></li>
        </ul>
    </div>
    <h2>Pôžička Provident</h2>
    <p>
        Nebanková pôžička Provident je ideálnym riešením pre všetkých, ktorí potrebujú rýchlo získať peniaze. Žiadosť o pôžičku je možné podať online alebo telefonicky, celý proces je veľmi jednoduchý a rýchly. Pôžička môže byť vo výške 140 až 1 500 EUR, je bez ručiteľa, bez skrytých poplatkov a doslova na čokoľvek - nemusíte preukazovať, na čo peniaze z pôžičky použijete.
    </p>
    <p>
        <strong>Od začiatku presne viete, koľko budete splácať a koľko zaplatíte celkom. Naši obchodní poradcovia sú navyše pripravení poskytovať vám po celú dobu splácania pôžičky individuálny osobný servis.</strong>
    </p>
    <a href="https://www.provident.sk/pages/online-ziadost" title="Žiadosť o pôžičku Provident" class="button red">Požiadajte o pôžičku práve teraz!</a>
</div>
<div class="panel">
    <h2>O Providente</h2>
    <p>
        Spoločnosť Provident Financial bola založená vo Veľkej Británii už v roku 1880, v SR pôsobí od roku 2001.Za tú dobu získal Provident povesť spoľahlivého poskytovateľa rýchlych nebankových pôžičiek. Dosvedčiť to môže fakt, že k dnešnému dňu získalo hotovostnú či bezhotovostnú pôžičku Provident viac ako 400 000 slovenských zákazníkov.
    </p>
    <p>
        <strong>K pilierom správania našej spoločnosti patrí korektný prístup k zákazníkom a dodržiavanie pravidiel zodpovedného požičiavania. Veríme, že týmto potvrdzujeme svoju pozíciu zodpovednej spoločnosti.</strong>
    </p>
    <a href="http://www.provident.sk" title="Rýchla pôžička Provident" class="button blue">Viac na provident.sk</a>
</div>
<footer>
    <p>
        &copy; 2012 Provident Financial, s. r. o., so sídlom Mlynské nivy 49, 821 09 Bratislava, IČO: 35 805 731, DIČ: 2021561905. <br>
        Spoločnosť zapísaná v Obchodnom registri Okresného súdu Bratislava I, odd: Sro, vl. č. 23439/B.
    </p>
    <a class="logo" href="http://www.netfinity.cz" title="vytvorené v Netfinity Digital Media s.r.o.">
        <img src="./img/netfinity-small-white.png" width="71" height="17" alt="vytvorené v Netfinity" title="vytvorené v Netfinity" />
    </a>
    <div class="links">
        <div>
            <menu class="clearfix">
                <li><a href="http://www.provident.sk" title="Provident"><span></span>Provident rýchla pôžička</a></li>
                <li><a href="http://www.providentoz.sk" title="Provident obchodný zástupca"><span></span>Provident obchodný zástupca</a></li>
            </menu>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34899765-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>
